<div class="row">
  <div class="col-sm-6">
    <h2 class="section-header"><span class="text-muted fw-normal">Edit</span> <%= @user.email %></h2>

    <%= simple_form_for @user do |form| %>
      <%= form.error_notification %>
      <%= form.input :first_name, placeholder: 'First Name' %>
      <%= form.input :last_name, placeholder: 'Last Name' %>
      <div class="form-group">
      <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, {class: "form-control"}) if current_user.role == 'admin_super' || current_user.role == 'admin_adv' %>
      </div>
      <%= form.button :submit %>
      <%= link_to "Cancel", :back, {class: "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>