<div class="row">
  <div class="col-sm-6">
    <h2 class="section-header">Edit <%= @user.email %></h2>

    <%= simple_form_for @user do |form| %>
      <%= form.error_notification %>
      <%= form.input :first_name, placeholder: 'First Name' %>
      <%= form.input :last_name, placeholder: 'Last Name' %>
      <%= form.input :admin, placeholder: 'Admin rights' %>
      <%= form.button :submit, {:class=>"btn btn-secondary"} %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
</div>