<div class="row">
  <div class="col-sm-6">
    <h2>Edit <%= @user.email %></h2>

    <%= simple_form_for @user do |form| %>
      <%= form.error_notification %>
      <%= form.input :first_name, placeholder: 'First Name' %>
      <%= form.input :last_name, placeholder: 'Last Name' %>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>