<div class="row users index">
  <div class="col-sm-10">
    <h2 class="section-header"><%= 'User'.pluralize(@users.count) %> <span class="text-muted small"><%= number_with_delimiter(@users.size) + ' of ' + number_with_delimiter(@users.total_count) %></span></h2>
    <%= paginate @users, :theme => 'bootstrap'%>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Sign in count</th>
          <th>Current sign in at</th>
          <th>Confirmed at</th>
          <th>Locked at</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.first_name.present? ? user.first_name : "", user %></td>
          <td><%= link_to user.last_name.present? ? user.last_name : "", user %></td>
          <td><%= link_to user.email, user %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.current_sign_in_at.present? ? user.current_sign_in_at.to_formatted_s(:long) : "" %></td>
          <td><%= user.confirmed_at.present? ? user.confirmed_at.to_formatted_s(:long) : "" %></td>
          <td><%= user.locked_at.present? ? user.locked_at.to_formatted_s(:long) : "" %></td>
          <td><%= user.role.present? ? user.role : "" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>