<% title @user.email %>
<h1>
  <%= @user.email %>
  <% if current_user.admin %>
    <%= link_to '<i class="btb bt-edit"></i>'.html_safe,
        edit_user_path,
        { :class=>"btn btn-lg btn-link" }
    %>
  <% end %>
</h1>
<div class="row">
  <div class="col-sm-12">
    <h2 class="section-header h4">User details</h2>
  </div>
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>First name:</dt>
      <dd><%= @user.first_name %></dd>
      <dt>Last name:</dt>
      <dd><%= @user.last_name %></dd>
      <dt>Admin:</dt>
      <dd><%= @user.admin %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>Created:</dt>
      <dd><%= @user.created_at.to_formatted_s(:long) %></dd>
      <dt>Last sign in:</dt>
      <dd><%= @user.last_sign_in_at.to_formatted_s(:long) %></dd>
      <dt>Updated:</dt>
      <dd><%= @user.updated_at.to_formatted_s(:long) %></dd>
      <dt>Confirmed:</dt>
      <dd><%= @user.confirmed_at? ? @user.confirmed_at.to_formatted_s(:long) : "" %></dd>
    </dl>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
  <% if current_user.admin %><%= link_to 'Delete User', user_path, method: :delete, data: { confirm: "Are you sure? This can not be undone." }, :class=>"btn btn-danger btn-sm pull-right" %><% end %>
  </div>
</div>