<h1><%= @user.email %></h1>
<div class="row">
  <div class="col-sm-12">
    <h2 class="section-header h4">User details <% if current_user.admin %>
    <%= link_to 'Edit', edit_user_path, { :class=>"btn btn-sm btn-link pull-right" } %>
      <% end %>
    </h2>
  </div>
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>First name:</dt>
      <dd><%= @user.first_name %></dd>
      <dt>Last name:</dt>
      <dd><%= @user.last_name %></dd>
      <dt>Admin:</dt>
      <dd><%= @user.admin %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <dl>
      <dt>Created:</dt>
      <dd><%= @user.created_at %></dd>
      <dt>Last sign in:</dt>
      <dd><%= @user.last_sign_in_at %></dd>
      <dt>Updated:</dt>
      <dd><%= @user.updated_at %></dd>
    </dl>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
  <% if current_user.admin %><%= link_to 'Delete User', user_path, method: :delete, data: { confirm: "Are you sure? This can not be undone." }, :class=>"btn btn-danger btn-sm pull-right" %><% end %>
  </div>
</div>