<div class="row distributions index">
  <div class="col-sm-8">
    <%= paginate @distributions, :theme => 'bootstrap' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Recipient</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @distributions.each do |distribution| %>
        <tr>
          <td><%= distribution.product.product_name%></td>
          <td><%= distribution.recipient.recipient_name %></td>
          <td><%= link_to 'Delete Association', distribution_path(distribution), method: :delete, data: { confirm: "Are you sure? This can not be undone." }, :class=>"text-danger small" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @distributions, :theme => 'bootstrap' %>
  </div>
</div>