<div class="row">
  <div class="col-sm-8">
    <h2>Add Products to <%= @recipient.recipient_name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for @distribution do |form| %>
      <%= form.error_notification %>
      <%= form.association :recipient, disabled: true, placeholder: 'Recipient', label_method: :recipient_name %>
      <%= form.association :product, placeholder: 'Product', label_method: :product_name %>
      <%= form.hidden_field :recipient_id, value: params[:recipient_id] %>
      <%= form.button :submit, "Add" %>
    <% end %>
  </div>
</div>