<div class="row">
  <div class="col-sm-6">
    <h2>Edit <%= @media_point.media_point_name %></h2>

    <%= simple_form_for @media_point do |form| %>
      <%= form.error_notification %>
      <%= form.input :media_point_name, placeholder: 'Recipient', label: 'Recipient Name' %>
      <%= form.input :category, placeholder: 'Category'%>
      <%= form.input :sub_category, placeholder: 'Sub Category'%>
      <%= form.input :industry, placeholder: 'Industry/Subject', label: 'Industry/Subject' %>
      <%= form.input :city, placeholder: 'City'%>
      <%= form.input :state, placeholder: 'State' %>
      <%= form.input :country, as: :country, priority: ['US', 'CA'] %>
      <%= form.button :submit, 'Update Recipient', {:class=>"btn btn-secondary"} %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
</div>
