<div class="row">
  <div class="col-sm-6">
    <h1>New Media Point</h1>

    <%= simple_form_for @media_point do |form| %>
      <%= form.error_notification %>
      <%= form.input :name, placeholder: 'Media Point' %>
      <%= form.input :category, placeholder: 'Category'%>
      <%= form.input :sub_category, placeholder: 'Sub Category'%>
      <%= form.input :city, placeholder: 'City'%>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
