<div class="row">
  <div class="col-sm-6">
    <h2>New Recipient</h2>

    <%= simple_form_for @media_point do |form| %>
      <%= form.error_notification %>
      <%= form.input :media_point_name, placeholder: 'Recipient' %>
      <%= form.input :category, placeholder: 'Category'%>
      <%= form.input :sub_category, placeholder: 'Sub Category'%>
      <%= form.input :city, placeholder: 'City'%>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
