<div class="row">
  <div class="col-sm-6">
  <h2><%= @media_point.media_point_name %> <%= link_to 'Edit Media Point', edit_media_point_path, { :class=>"btn btn-default btn-sm btn-link" } %>
    </h2>

  <dl class="">
    <dt>Category:</dt>
    <dd><%= @media_point.category %></dd>
    <dt>Sub category:</dt>
    <dd><%= @media_point.sub_category %></dd>
    <dt>Industry:</dt>
    <dd><%= @media_point.industry %></dd>
    <dt>City:</dt>
    <dd><%= @media_point.city %></dd>
    <dt>State:</dt>
    <dd><%= @media_point.state %></dd>
    <dt>Country:</dt>
    <dd><%= @media_point.country %></dd>
  </dl>
  </div>
  <div class="col-sm-6">
    <h2>Related Products <%= link_to 'Add Product', new_media_point_product_path(media_point_id: @media_point.id), { :class=>"btn btn-default btn-sm btn-link" } %></h2>
    <ol>
      <% @media_point.products.each do |mp_p|%>
      <li>
        <%= link_to mp_p.product_name, product_path(mp_p) %> /
        <%= link_to 'Edit',  edit_media_point_product_path(mp_p) %>
      </li>
      <% end %>
    </ol>
  </div>
</div>
<hr>
<div class="row">
   <div class="col-sm-6">
    <%= link_to 'View All Media Points', media_points_path, { :class=>"btn btn-default" } %>
   </div>
 </div>
