<%= simple_form_for @recipient do |form| %>
<%= form.error_notification %>
<div class="row">
  <div class="col-sm-6">
    <%= form.input :recipient_name,
                   placeholder: 'Recipient',
                   label: 'Recipient Name'
    %>
    <%= form.input :alternate_name,
                   placeholder: 'Alternate Name'
    %>
    <%= form.input :sort_by_name,
                   placeholder: 'Sort by Name'
    %>
    <%= form.input :slug,
                   placeholder: 'Slug'
    %>
    <div class="row">
      <div class="col-sm-6">
        <%= form.input :city,
                       placeholder: 'City'
        %>
      </div>
      <div class="col-sm-6">
        <%= form.input :state,
                       placeholder: 'State'
        %>
      </div>
    </div>
    <%= form.input :country,
                   as: :country,
                   priority: ['US', 'CA']
    %>
    <%= form.input :ap,
                    boolean_style: :inline,
                    as: :boolean,
                    label: 'AP'
     %>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="recipient_ticker_id">Ticker Requirements</label>
      <%= form.collection_select :ticker_id,
                                Ticker.all,
                                :id,
                                :ticker_type,
                                {include_blank: true},
                                {class: "form-control chosen-select"}
      %>
    </div>
    <div class="form-group">
      <label for="recipient_category_id">Category</label>
      <%= form.collection_select :category_id,
                                 Category.all,
                                 :id,
                                 :name,
                                 {include_blank: true},
                                 {class: "form-control chosen-select"}
      %>
    </div>
    <div class="form-group">
      <label for="recipient_industry_ids">Industry</label>
      <%= form.collection_select :industry_ids,
                                 Industry.order(:industry_name),
                                 :id, :industry_name,
                                 {},
                                 {class: "form-control chosen-select",
                                  :multiple => true }
      %>
    </div>
    <div class="form-group">
      <label for="recipient_subject_ids">Subject</label>
      <%= form.collection_select :subject_ids,
                                 Subject.order(:subject_name),
                                 :id,
                                 :subject_name,
                                 {},
                                 {class: "form-control chosen-select",
                                  :multiple => true }
      %>
    </div>
    <div class="form-group">
      <label for="recipient_subject_ids">Multimedia</label>
      <%= form.collection_select :multimedium_ids,
                                 Multimedium.order(:media_type),
                                 :id,
                                 :media_type,
                                 {},
                                 {class: "form-control chosen-select",
                                  :multiple => true }
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group fr-view">
      <label for="recipient_description">Description</label>
      <%= form.text_area :description,
                     placeholder: 'Description',
                     class: "wysiwyg"
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2 class="section-header h4"><%= 'Channel'.pluralize(@recipient.channels.count) %></h2>
    <div class="form-group">
      <label for="recipient_channel_ids">Associated Channel</label>
      <%= form.collection_select :channel_ids,
                                 Channel.order(:channel_name),
                                 :id,
                                 :channel_name,
                                 {},
                                 {class: "form-control chosen-select",
                                  :multiple => true }
      %>
    </div>
  </div>
  <div class="col-sm-6">
    <h2 class="section-header h4">Related <%= 'Product'.pluralize(@recipient.products.count) %></h2>
    <div class="form-group">
      <label for="recipient_product_ids">Associated Product</label>
      <%= form.collection_select :product_ids,
                                 Product.order(:product_name),
                                 :id,
                                 :product_name,
                                 {},
                                 {class: "form-control chosen-select",
                                  :multiple => true }
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= form.button :submit %>
    <%= link_to "Cancel",
                :back,
                {:class=>"btn btn-default pull-right mr-sm"}
    %>
  </div>
</div>
<% end %>
