<div class="row recipients index">
  <div class="col-sm-8">
    <h2>Recipients <% if current_user.admin %><%= link_to 'New Recipient', new_recipient_path, { :class => "btn btn-sm btn-link"} %><% end %></h2>
    <%= paginate @recipients, :theme => 'bootstrap' %>
    <ol>
      <% @recipients.each do |mp| %>
      <li><%= link_to mp.recipient_name, mp %> <% if current_user.admin %>/ <%= link_to 'Edit', edit_recipient_path(mp) %><% end %></li>
      <% end %>
    </ol>
    <%= paginate @recipients, :theme => 'bootstrap' %>
  </div>
</div>
