<div class="row recipients index">
  <div class="col-sm-12">
    <% if current_user.admin %>
    <%= link_to '<i class="btr bt-plus"></i>'.html_safe,
      new_recipient_path,
      { class: "btn btn-default mt-lg btn-sm pull-right ml-sm btn--header", title: "New Recipient"}
    %>
    <% end %>
    <% if params[:q].present? %>
    <%= link_to '<i class="btr bt-download"></i>'.html_safe,
      recipients_path(params.merge(format: "csv")),
      { class: "btn btn-default mt-lg btn-sm pull-right btn--header", title: "Download Results"}
    %>
    <% end %>
    <h2 class="section-header"><%= 'Recipient'.pluralize(@recipients.count) %>
      <% if params[:q].present? %>
      search results
      <% end %>
      <span class="text-muted small">(<%= number_with_delimiter(@recipients.size) + ' of ' + number_with_delimiter(@recipients.total_count) %>)</span>
    </h2>
  </div>
  <div class="col-sm-3">
    <h2 class="">Filters</h2>
    <%= render 'sidebar_filter' %>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <%= paginate @recipients, :theme => 'bootstrap' %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th><%= sort_link(@search, 'sort_by_name', 'Recipient') %></th>
            <th><%= sort_link(@search, 'city') %></th>
            <th><%= sort_link(@search, 'state') %></th>
            <th><%= sort_link(@search, 'category_id', 'Category') %></th>
            <th>Multimedia</th>
            <% if current_user.admin %>
            <th>Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @recipients.each do |mp| %>
          <tr>
            <td><% if mp.ap == true %>
              <span class="label label-default"><%= ap_boolean(mp.ap) %></span>
              <% end %> <%= link_to mp.recipient_name, mp %>
            </td>
            <td><%= mp.city.present? ? mp.city : "" %></td>
            <td><%= mp.state.present? ? mp.state : "" %></td>
            <td><%= mp.category.present? ? link_to(mp.category.name, mp.category) : "" %></td>
            <td>
              <% mp.multimedia.each do |multi| %>
                <%= link_to(multi) do%>
                  <i class="bts <%= multi.icon %>"></i>
                <% end %>
              <% end %>
            </td>
            <% if current_user.admin %>
            <td>
              <%= link_to 'Edit', edit_recipient_path(mp) %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @recipients, :theme => 'bootstrap' %>
  </div>
</div>

