<% title @recipient.recipient_name %>
<div>
  <% if current_user.admin %>
  <%= link_to 'Delete Recipient',
    recipient_path,
    method: :delete,
    data: { confirm: "Are you sure? This can not be undone." },
    :class=>"btn btn-danger btn-sm pull-right mt-xs btn--header"
  %>
  <%= link_to 'Edit Recipient',
    edit_recipient_path,
    { :class=>"btn btn-sm btn-default pull-right mt-xs mr-sm btn--header" }
  %>
  <% end %>
  <h1 class="section-header">
    <%= @recipient.recipient_name %>
    <% @recipient.multimedia.each do |multi| %>
      <%= link_to(multi) do%>
      <i class="bts <%= multi.icon %> bt-sm"></i>
      <% end %>
    <% end %>
    <% unless @recipient.alternate_name.blank? %>
      <small><em>(<%= @recipient.alternate_name %>)</em></small>
    <% end %>
  </h1>
</div>
<div class="row recipient show">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <dl>
          <dt>Description:</dt>
          <dd><%= @recipient.description %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-md">
        <% if @recipient.ap == true %>
          <span class="label label-default"><%= ap_boolean(@recipient.ap) %></span>
        <% end %>
        <% if @recipient.ticker.present? %>
          <%= link_to(@recipient.ticker) do%>
          <span class="label label-success"><%= @recipient.ticker.ticker_type %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <dl>
          <dt>Category:</dt>
          <dd><%= @recipient.category.present? ? link_to(@recipient.category.name, @recipient.category) : "" %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>City:</dt>
          <dd><%= @recipient.city %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>State:</dt>
          <dd><%= @recipient.state %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Country:</dt>
          <dd><%= @recipient.country.present? ? @recipient.country_name : "" %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl class="">
          <dt>Industry:</dt>
          <% @recipient.industries.each do |ind| %>
          <dd><%= link_to ind.industry_name, ind %></dd>
          <% end %>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="">
          <dt>Subject:</dt>
          <% @recipient.subjects.each do |sub| %>
          <dd><%= link_to(sub.subject_name, sub) %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h2 class="section-header h4"><%= 'Channel'.pluralize(@recipient.channels.count) %></h2>
    <ol>
      <% @recipient.channels.each do |c|  %>
      <li><%= link_to c.channel_name, channel_path(c) %></li>
      <% end %>
    </ol>
    <h2 class="section-header h4"><%= number_with_delimiter(@recipient.products.size) %> Related <%= 'Product'.pluralize(@recipient.products.count) %></h2>
    <table class="table table-hover table-condensed">
      <% @recipient.products.each do |mp_p|%>
      <tr>
        <td>
          <%= link_to mp_p.product_name, product_path(mp_p) %>
        </td>
        <td>
          <% if current_user.admin %>
          <%= link_to 'Edit',  edit_product_path(mp_p) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
