<div class="row industry edit">
  <div class="col-sm-6">
    <h2 class="section-header"><span class="text-muted fw-normal">Edit</span> <%= @industry.industry_name %></h2>

    <%= simple_form_for @industry do |ind| %>
      <%= ind.error_notification %>
      <%= ind.input :industry_name, placeholder: 'Industry' %>
      <%= ind.input :description,
                    placeholder: 'Description',
                    input_html: {rows: 5}
      %>
      <%= ind.button :submit %>
      <%= link_to "Cancel", :back, { :class => "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>