<div class="row industry new">
  <div class="col-sm-8">
    <h2 class="section-header">New Industry</h2>

    <%= simple_form_for @industry do |ind| %>
      <%= ind.error_notification %>
      <%= ind.input :industry_name, placeholder: 'Industry' %>
      <%= ind.button :submit %>
      <%= link_to "Cancel", :back, {:class => "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>