<div class="row ticker new">
  <div class="col-sm-6">
    <h2 class="section-header">New Ticker</h2>

    <%= simple_form_for @ticker do |tick| %>
      <%= tick.error_notification %>
      <%= tick.input :ticker_type, placeholder: 'Ticker Requirements' %>
      <%= tick.button :submit %>
      <%= link_to "Cancel", :back, {:class => "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>