<div class="row subject new">
  <div class="col-sm-8">
    <h2>New subject</h2>

    <%= simple_form_for @subject do |cat| %>
      <%= cat.error_notification %>
      <%= cat.input :subject_name, placeholder: 'subject' %>
      <%= cat.button :submit, {:class => "btn btn-secondary"} %>
      <%= link_to "Cancel", :back, {:class => "btn btn-default"} %>
    <% end %>
  </div>
</div>