<div class="row category edit">
  <div class="col-sm-8">
    <h2 class="section-header"><span class="text-muted fw-normal">Edit</span> <%= @category.name %></h2>

    <%= simple_form_for @category do |cat| %>
      <%= cat.error_notification %>
      <%= cat.input :name, placeholder: 'Category' %>
      <%= cat.button :submit %>
      <%= link_to "Cancel", :back, { :class => "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>