<div class="row category new">
  <div class="col-sm-6">
    <h2 class="section-header">New Category</h2>

    <%= simple_form_for @category do |cat| %>
      <%= cat.error_notification %>
      <%= cat.input :name, placeholder: 'Category' %>
      <%= cat.button :submit %>
      <%= link_to "Cancel", :back, {:class => "btn btn-default pull-right mr-sm"} %>
    <% end %>
  </div>
</div>