<% title @category.name %>
<h1>
  <%= @category.name %>
  <% if current_user.admin %>
    <%= link_to '<i class="btb bt-edit"></i>'.html_safe,
        edit_category_path,
        {:class => "btn btn-lg btn-link"}
    %>
  <% end %>
</h1>
<div class="row">
  <div class="col-sm-12">
    <h2 class="section-header h4">
      Related <%= 'Recipient'.pluralize(@related_recipients.count) %> <span class="text-muted small">(<%= number_with_delimiter(@related_recipients.size) + ' of ' + number_with_delimiter(@related_recipients.total_count) %>)</span>
    </h2>
    <%= paginate @related_recipients, :theme => 'bootstrap' %>
    <%= render 'related_recip_table' %>
    <%= paginate @related_recipients, :theme => 'bootstrap' %>
  </div>
</div>