<div class="container">
  <nav class="navbar nav-bar">
    <div class="" id="">
      <ul class="nav nav-pills tier-two">
        <li class="<%= 'active' if params[:controller] == 'industries' %>" role="presentation">
          <%= link_to 'Industries', industries_path %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'subjects' %> role="presentation">
          <%= link_to 'Subjects', subjects_path %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'categories' %> role="presentation">
          <%= link_to 'Categories', categories_path %>
        </li>
      </ul>
    </div><!-- /.pills -->
  </nav>
</div> <!-- .container -->
