<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable 'sort_by_name', 'Recipient' %></th>
      <th><%= sortable 'city' %></th>
      <th><%= sortable 'state' %></th>
      <th><%= sortable 'category_id', 'Category' %></th>
      <th>Multimedia</th>
      <% if current_user.admin %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @related_recipients.each do |rr| %>
    <tr>
      <td><% if rr.ap == true %>
            <span class="label label-default"><%= ap_boolean(rr.ap) %></span>
          <% end %> <%= link_to rr.recipient_name, recipient_path(rr) %></td>
      <td><%= rr.city.present? ? rr.city : "" %></td>
      <td><%= rr.state.present? ? rr.state : "" %></td>
      <td><%= rr.category.present? ? link_to(rr.category.name, rr.category) : "" %></td>
      <td>
        <% rr.multimedia.each do |multi| %>
        <%= link_to(multi) do%>
        <i class="bts <%= multi.icon %>"></i>
        <% end %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin %>
        <%= link_to 'Edit',
        edit_recipient_path(rr)
        %>
        <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>