<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sort_link(@search, 'sort_by_name', 'Recipient') %></th>
      <th><%= sort_link(@search, 'city') %></th>
      <th><%= sort_link(@search, 'state') %></th>
      <th><%= sort_link(@search, 'category_id', 'Category') %></th>
      <th>Multimedia</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @related_recipients.each do |rr| %>
    <tr>
      <td><% if rr.ap == true %>
        <span class="label label-default"><%= ap_boolean(rr.ap) %></span>
        <% end %> <%= link_to rr.recipient_name, recipient_path(rr) %></td>
        <td><%= rr.city.present? ? rr.city : "" %></td>
        <td><%= rr.state.present? ? rr.state : "" %></td>
        <td><%= rr.category.present? ? link_to(rr.category.name, rr.category) : "" %></td>
        <td>
          <% rr.multimedia.each do |multi| %>
          <%= link_to(multi) do%>
          <i class="bts <%= multi.icon %>"></i>
          <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit',
          edit_recipient_path(rr)
          %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>