<div class="panel-group filters" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="industries">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIndustries" aria-expanded="true" aria-controls="collapseIndustries">
          <i class="btb bt-angle-down bt-sm"></i> Industries
        </a>
      </h4>
    </div>
    <div id="collapseIndustries" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="industries">
      <div class="panel-body">
        <%= sorted_nested_ul(@industries, :industry_name) do |ind| %>
          <%= link_to ind.industry_name, ind %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="subjects">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSubjects" aria-expanded="false" aria-controls="collapseSubjects">
          <i class="btb bt-angle-right bt-sm"></i> Subjects
        </a>
      </h4>
    </div>
    <div id="collapseSubjects" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subjects">
      <div class="panel-body">
        <% @subjects.each do |sub| %>
        <ul>
          <li><%= link_to(sub.subject_name, sub) %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="categories">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
          <i class="btb bt-angle-right bt-sm"></i> Categories
        </a>
      </h4>
    </div>
    <div id="collapseCategories" class="panel-collapse collapse" role="tabpanel" aria-labelledby="categories">
      <div class="panel-body">
        <% @categories.each do |cat| %>
        <ul>
          <li><%= link_to cat.name , cat%></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="multimedia">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMultimedia" aria-expanded="false" aria-controls="collapseMultimedia">
          <i class="btb bt-angle-right bt-sm"></i> Multimedia
        </a>
      </h4>
    </div>
    <div id="collapseMultimedia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="multimedia">
      <div class="panel-body">
        <% @multimedia.each do |multi| %>
        <ul>
          <li><%= link_to multi.media_type , multi%></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>