<%= search_form_for @search do |f| %>
<div class="panel-group filters" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="recipientName">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseRecipientName" aria-expanded="true" aria-controls="collapseRecipientName">
          <i class="btb bt-angle-down bt-sm"></i> <%= f.label :recipient_name_or_alternate_name_cont, "Recipient Name" %>
        </a>
      </h4>
    </div>
    <div id="collapseRecipientName" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recipientName">
      <div class="panel-body">
        <div class="form-group">
          <%= f.text_field :recipient_name_or_alternate_name_cont,
          class: "form-control",
          placeholder: "Search recipient name"
          %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="industries">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseIndustries" aria-expanded="true" aria-controls="collapseIndustries">
          <i class="btb bt-angle-right bt-sm"></i> <%= f.label :recipient_industries_industry_id_in, "Industries" %>
        </a>
      </h4>
    </div>
    <div id="collapseIndustries" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="industries">
      <div class="panel-body">
        <%= f.collection_select(
          :recipient_industries_industry_id_in,
          Industry.all,
          :id,
          :industry_name,
          {prompt: 'Choose an industry'},
          {class: "form-control chosen-select", :multiple => true}
        ) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="subjects">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseSubjects" aria-expanded="true" aria-controls="collapseSubjects">
          <i class="btb bt-angle-right bt-sm"></i> <%= f.label :recipient_subjects_subject_id_in, "Subjects" %>
        </a>
      </h4>
    </div>
    <div id="collapseSubjects" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="subjects">
      <div class="panel-body">
      <%= f.collection_select(
        :recipient_subjects_subject_id_in,
        Subject.all,
        :id,
        :subject_name,
        {prompt: 'Choose a subject'},
        {class: "form-control chosen-select", :multiple => true}
      ) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="categories">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseCategories" aria-expanded="true" aria-controls="collapseCategories">
          <i class="btb bt-angle-right bt-sm"></i> <%= f.label :category_id_eq, "Category" %>
        </a>
      </h4>
    </div>
    <div id="collapseCategories" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="categories">
      <div class="panel-body">
      <%= f.collection_select(
        :category_id_in,
        Category.all,
        :id,
        :name,
        {prompt: 'Choose a category'},
        {class: "form-control chosen-select", :multiple => true}
      ) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="multimedia">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseMultimedia" aria-expanded="true" aria-controls="collapseMultimedia">
          <i class="btb bt-angle-right bt-sm"></i> <%= f.label :renderings_multimedium_id_in, "Multimedia" %>
        </a>
      </h4>
    </div>
    <div id="collapseMultimedia" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="multimedia">
      <div class="panel-body">
      <%= f.collection_select(
        :renderings_multimedium_id_in,
        Multimedium.all,
        :id,
        :media_type,
        {prompt: 'Choose media type'},
        {class: "form-control chosen-select", :multiple => true}
      ) %>
      </div>
    </div>
  </div>
</div>
<%= f.submit "Search", class: "btn btn-primary" %>
<%= link_to "Clear Search", request.path, class:"btn btn-default" %>
<% end %>