<div class="row products index">
  <div class="col-sm-8">
    <h2 class="section-header"><%= 'Product'.pluralize(@products.count) %>
    <span class="text-muted small">(<%= number_with_delimiter(@products.size) + ' of ' + number_with_delimiter(@products.total_count) %>)</span>
      <% if current_user.admin %>
          <%= link_to 'New Product',
                      new_product_path,
                      { :class => "btn btn-sm btn-link pull-right"}
          %>
      <% end %>
    </h2>
    <%= paginate @products, :theme => 'bootstrap'%>
    <table class="table table-striped">
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.product_name,
                    product
              %>
          </td>
          <td><% if current_user.admin %>
            <%= link_to 'edit',
                        edit_product_path(product)
            %>
        <% end %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @products, :theme => 'bootstrap' %>
  </div>
</div>
