<div class="row">
  <div class="col-sm-6">
    <h1>New  Product</h1>

    <%= simple_form_for @product do |form| %>
      <%= form.error_notification %>
      <%= form.input :product_name, placeholder: 'Product' %>
      <%= form.input :description, placeholder: 'Description'%>
      <%= form.input :code, placeholder: 'Code'%>
      <%= form.input :base_price, placeholder: 'Base Price'%>
      <%= form.input :length_price, placeholder: 'Length Price'%>
      <%= form.button :submit, {:class=>"btn btn-secondary"} %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <% end %>
  </div>
</div>
