<% title @product.product_name %>
<% if current_user.admin %>
<%= link_to 'Edit Product',
edit_product_path,
{ :class=>"btn btn-sm btn-default pull-right mt-xs btn--header" }
%>
<% end %>
<h1 class="section-header"><%= @product.product_name %></h1>
<div class="row product show">
  <div class="col-sm-12">
    <dl class="">
      <dt>Description:</dt>
      <dd><%= simple_format(@product.description) %></dd>
    </dl>
    <div class="row">
      <div class="col-sm-3">
        <dl>
          <dt>Code:</dt>
          <dd><%= @product.code %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Base Price ($):</dt>
          <dd><%= @product.base_price %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Length Price ($):</dt>
          <dd><%= @product.length_price %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Product Line:</dt>
          <dd><%= @product.product_line.present? ? link_to(@product.product_line.product_line, @product.product_line) : "" %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <h2 class="section-header h4"><% if current_user.admin %><%= number_with_delimiter(@product.recipients.size) %><% end %> Related <%= 'Recipient'.pluralize(@product.recipients.count) %> </h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th><%= sortable 'sort_by_name', 'Recipient' %></th>
          <th><%= sortable 'city', 'Location' %></th>
          <th><%= sortable 'category_id', 'Category' %></th>
          <th><%= sortable 'multimedia', 'Multimedia' %></th>
          <% if current_user.admin %>
          <th>Actions</th>
          <% end %>
        </tr>
        <% @related_recipients.each do |p_mp| %>
        <tr>
          <td><%= link_to p_mp.recipient_name,
            recipient_path(p_mp)
            %>
          </td>
          <td><%= p_mp.city.present? ? p_mp.city + ', ' : "" %><%= p_mp.state %></td>
          <td><%= p_mp.category.present? ? p_mp.category.name : "" %></td>
          <td>
            <% p_mp.multimedia.each do |multi| %>
              <%= link_to(multi) do%>
                <i class="bts <%= multi.icon %>"></i>
              <% end %>
            <% end %>
          </td>
          <td><% if current_user.admin %>
            <%= link_to 'Edit',
            edit_recipient_path(p_mp)
            %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
 <div class="col-sm-2 col-sm-offset-10">
  <% if current_user.admin %>
  <%= link_to 'Delete Product',
  product_path,
  method: :delete,
  data: { confirm: "Are you sure? This can not be undone." },
  :class=>"btn btn-danger btn-sm pull-right"
  %>
  <% end %>
</div>
</div>
