<div class="row">
  <div class="col-sm-6">
  <h2><%= @product.name %> <%= link_to 'Edit Product', edit_product_path, { :class=>"btn btn-default btn-sm btn-link" } %></h2>
  <dl class="">
    <dt>Description:</dt>
    <dd><%= @product.description %></dd>
    <dt>Code:</dt>
    <dd><%= @product.code %></dd>
    <dt>Base Price:</dt>
    <dd><%= @product.base_price %></dd>
    <dt>Length Price:</dt>
    <dd><%= @product.length_price %></dd>
  </dl>
  </div>
  <div class="col-sm-6">
    <h2>Related Media Points <%= link_to 'Add Media Point', new_media_point_product_path(product_id: @product.id), { :class=>"btn btn-default btn-sm btn-link" } %></h2>
    <ol>
      <% @product.media_points.each do |p_mp| %>
      <li>
        <%= link_to p_mp.name, media_point_path(p_mp) %> /
        <%= link_to 'Edit', edit_media_point_path(p_mp) %>
      </li>
      <% end %>
    </ol>
  </div>
</div>
<hr>
<div class="row">
   <div class="col-sm-6">
    <%= link_to 'View All Product', products_path, { :class=>"btn btn-default" } %>
   </div>
 </div>
