<% title @product.product_name %>
<h1 class="section-header">
  <%= @product.product_name %>
  <%= link_to '<i class="btb bt-edit"></i>'.html_safe,
  edit_product_path,
  { class: "base-text", title: "Edit Product"}
  %>
</h1>
<div class="row product show">
  <div class="col-sm-12">
    <dl class="">
      <dt>Description:</dt>
      <dd><%= simple_format(@product.description) %></dd>
    </dl>
    <div class="row">
      <div class="col-sm-3">
        <dl>
          <dt>Code:</dt>
          <dd><%= @product.code %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Base Price ($):</dt>
          <dd><%= @product.base_price %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Length Price ($):</dt>
          <dd><%= @product.length_price %></dd>
        </dl>
      </div>
      <div class="col-sm-3">
        <dl>
          <dt>Product Line:</dt>
          <dd><%= @product.product_line.present? ? link_to(@product.product_line.product_line, @product.product_line) : "" %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <%= link_to '<i class="btb bt-download"></i>'.html_safe,
      product_path(format: "csv"),
      { class: "btn btn-default btn-sm pull-right btn--header", title: "Download Results"}
    %>
    <h2 class="section-header h4">
      <%= number_with_delimiter(@product.recipients.size) %> Related <%= 'Recipient'.pluralize(@product.recipients.count) %>

    </h2>
    <%= paginate @related_recipients, :theme => 'bootstrap' %>
    <%= render 'related_recip_table' %>
    <%= paginate @related_recipients, :theme => 'bootstrap' %>
  </div>
</div>
<hr>
<div class="row">
 <div class="col-sm-2 col-sm-offset-10">
  <%= link_to 'Delete Product',
  product_path,
  method: :delete,
  data: { confirm: "Are you sure? This can not be undone." },
  :class=>"btn btn-danger btn-sm pull-right"
  %>
</div>
</div>
