<div class="row">
  <div class="col-sm-8">
    <h2><%= @product.product_name %> <% if current_user.admin %><%= link_to 'Edit Product', edit_product_path, { :class=>"btn btn-sm btn-link" } %><% end %></h2>
    <dl class="dl-horizontal">
      <dt>Description:</dt>
      <dd><%= simple_format(@product.description) %></dd>
      <dt>Code:</dt>
      <dd><%= @product.code %></dd>
      <dt>Base Price ($):</dt>
      <dd><%= @product.base_price %></dd>
      <dt>Length Price ($):</dt>
      <dd><%= @product.length_price %></dd>
    </dl>
  </div>
  <div class="col-sm-4">
    <h2>Related Recipients</h2>
    <ol>
      <% @product.recipients.each do |p_mp| %>
      <li>
        <%= link_to p_mp.recipient_name, recipient_path(p_mp) %> <% if current_user.admin %>/
        <%= link_to 'Edit', edit_recipient_path(p_mp) %><% end %>
      </li>
      <% end %>
    </ol>
  </div>
</div>
<hr>
<div class="row">
   <div class="col-sm-2 col-sm-offset-10">
    <% if current_user.admin %><%= link_to 'Delete Product', product_path, method: :delete, data: { confirm: "Are you sure? This can not be undone." }, :class=>"btn btn-danger btn-sm pull-right" %><% end %>
   </div>
 </div>
