<div class="row">
  <div class="col-sm-8">
    <h2>Add Products to <%= @media_point.media_point_name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for @media_point_product do |form| %>
      <%= form.error_notification %>
      <%= form.association :media_point, disabled: true, placeholder: 'Media Point' %>
      <%= form.association :product, placeholder: 'Product' %>
      <%= form.button :submit, "Add" %>
    <% end %>
  </div>
</div>