<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>PR Newswire Distribution</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
  <%= render 'heap' %>
  <%= render 'segment' %>
  <%= render 'zendesk' %>
</head>
<body>
  <div class="page-wrap">
    <header class="main-header">
      <section class="nav-junior">
        <%= render 'nav_junior' %>
      </section>
      <section class="nav-main hidden-xs">
        <%= render 'nav_main' %>
      </section>
      <% unless params[:controller] == 'products' || params[:controller] == 'users' || params[:controller] == 'home' || params[:controller] == 'users/sessions' %>
      <section class="nav-subnav hidden-xs">
        <%= render 'nav_sub' %>
      </section>
      <% end %>
    </header><!-- /header -->
    <main role="main" id="main" class="">
      <div class="container">
        <%= render 'alerts' %>
        <%= yield %>
      </div>
    </main><!-- /main -->
    <%= render 'footer' %>
    <%= render 'nav_mobile' %>
  </div>
  <%= render 'scripts' %>
</body>
</html>
