<!DOCTYPE html>
<html>
<head>
  <title>PR Newswire Distribution</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= render 'heap' %>
  <%= render 'zendesk' %>
</head>
<body>
  <div class="page-wrap">
    <header class="main-header">
      <section class="nav-junior no-margin">
        <%= render "nav_junior" %>
      </section>
      <section class="nav-main no-margin">
        <%= render "nav_main" %>
      </section>
    </header><!-- /header -->
    <main role="main" id="main" class="">
      <div class="container">
      <h1 class="mt-lg"><%= link_to 'PR Newswire Distribution', root_path %></h1>
        <%= render 'alerts' %>
        <%= yield %>
      </div>
    </main><!-- /main -->
    <%= render "footer" %>
  </div>
</body>
</html>
