<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>PR Newswire Distribution</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Start of prn Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","prn.zendesk.com");
  /*]]>*/</script>
  <!-- End of prn Zendesk Widget script -->
</head>
<body>
  <div class="page-wrap">
    <header class="main-header">
      <section class="nav-junior no-margin">
        <%= render 'nav_junior' %>
      </section>
      <section class="nav-main no-margin">
        <%= render 'nav_main' %>
      </section>
    </header><!-- /header -->
    <main role="main" id="main" class="">
      <div class="container">
        <%= render 'alerts' %>
        <%= yield %>
      </div>
    </main><!-- /main -->
    <%= render 'footer' %>
  </div>
</body>
</html>
